body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.note {
  outline: dotted;
  outline-color: lightgreen;
  border-style: solid;
  border-color: red;
}
