body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  text-decoration-line: line-through;
}

h3 {
  text-decoration-line: underline;
}

body {
  background-color: rgb(197, 234, 247);
}
