body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container,
.containerFill,
.containerRef {
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.containerBooked {
  width: 53%;
  margin: auto;
  overflow: hidden;
}

.containerCheck {
  width: 54%;
  margin: auto;
  overflow: hidden;
}

.containerChecked {
  width: 54%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #3e3f40;
  color: #ffffff;
  padding-top: 5px;
  min-height: 70px;
  border-bottom: #25120d 3px solid;
  text-align: center;
}

/* forms */
#forms,
#formsFill,
#formsRef {
  margin-top: 20px;
}

.container input {
  margin-bottom: 20px;
  width: 49%;
  clear: both;
}
.container select {
  margin-bottom: 20px;
  width: 50%;
  clear: both;
}

#forms label {
  font-size: large;
  display: inline-flex;
  width: 48%;
}

#submit {
  margin-bottom: 20px;
  width: 100%;
  clear: both;
  background: steelblue;
  color: white;
  height: 30px;
  text-align: center;
}

table,
td,
th {
  border-style: ridge;
  border-collapse: collapse;
  border-color: darkgrey;
  padding: 10px;
}
th {
  color: teal;
  font-weight: bold;
  background: wheat;
}

.containerTable {
  width: 68%;
  margin: auto;
  overflow: hidden;
  padding-top: 40px;
}

/* Container Fill Forms */

.containerFill input {
  margin-bottom: 20px;
  width: 49%;
  clear: both;
}
.containerFill select {
  margin-bottom: 20px;
  width: 51%;
  clear: both;
}

#formsFill label {
  font-size: large;
  display: inline-flex;
  width: 47%;
}

#search {
  width: 100%;
  height: 30px;
}

.containerCheck p {
  font-weight: bold;
}

#formsRef label {
  font-size: large;
  display: inline-flex;
  width: 50%;
}
#formsRef #text {
  font-size: large;
  display: inline-flex;
  width: 46%;
}
